p {
	/* color: teal; */
}

span {
	color: springgreen;
}

.text {
	color: indigo;
}

.menu {
	color: yellow;
}

#section-2 {
	color: violet;
}

div {
	color: slateblue;
}

.block-2 {
	color: turquoise;
}





















